.main-container{
  height: 100vh;
}

.main-content{
  padding: 30px;
}

.page-title{
  font-size: 40pt;
  font-weight: bold;
  color: #575656;
}

.search-form{
  margin: 30px 0px;
}

.page-description{
  font-weight: bold;
  color: #222;
}

.search-movie-input{
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px 0px;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.1);
}

.section-title{
  font-weight: bold;
  color: white;
}

.btn-search{
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: #575656;
  font-weight: bold;
  font-size: 12pt;
  transition: all .2s;
  color: white;
}

.btn-search:active{
  transform: scale(0.9);
}

.movie-card{
  width: 100%;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 10px 20px rgba($color: #000000, $alpha: 0.1);
}

.movie-img{
  width: 100%;
  border-radius: 5px;
}

.movie-info{
  padding: 30px;
}