<ion-content>
  <div class="main-container">
    <div class="main-wrapper">
      <div class="main-content">
        <h1 class="page-title">Movie Bio</h1>
        <form class="search-form">
          <label class="page-description">Search movie:</label>
          <input [(ngModel)]="movieSearch" class="search-movie-input" type="text" name="movieSearch" placeholder="Pesquise aqui"/>
          <button class="btn-search" (click)="getMovieData()">Search</button>
        </form>
        <div class="movie-card">
          <img class="movie-img" src="{{movieData.Poster}}" alt="{{movieData.Title}}">
          <div class="movie-info">
            <h3>{{movieData.Title}}</h3>
            <p>{{movieData.Genre}}</p>
            <p>{{movieData.Runtime}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>